.sectionHead {
    height: 375px;
    width: 100vw;
    position: relative;
    background-color: #000000;
}

.sectionHead img {
    height: 375px;
    width: 100vw;
    filter: brightness(20%);
    object-fit: cover;
}

.sectionTitle {
    color: #da7533;
    font-size: 50px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 150px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.mainContent div {
    background-color: #ffffff;
    filter: drop-shadow(0px 5px 2px #818181);
    margin-top: 25px;
    margin-bottom: 200px;
}

ul {
    list-style: none;
    margin-bottom: 30px;
}

li {
    font-size: 18px;
    margin-bottom: 9px;
}

.listContent {
    width: 25%;
    padding: 10px;
    height: fit-content;
}

.instructions {
    width: 45%;
    padding: 30px;
    height: fit-content;
}

.instructions p {
    width: 100%;
    white-space: pre-wrap;
}

.instructions p {
    font-size: 18px;
    margin-bottom: 18px;
}

.mainContent h4 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}