header {
    background-color: #da7533;
    color: #ffffff;
    font-size: 23px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    margin-left: 35px;
}

header button {
    margin-right: 25px;
    background: #da7533;
    border: none;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5%;
}

header button:hover {
    background-color: #f3b68e;
}