/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */
html {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adBanner {
	color: #ffffff;
	text-align: center;
	font-size: 16px;
}

.adBanner h3 {
	width: 60%;
	padding: 15px;
	margin: auto;
}

.adBanner h1 {
	color: #da7533;
	font-size: 50px;
	margin: 10px;
}

button { 
	background-color: #568a8b;
	color: #ffffff;
	padding: 5px 15px;
	font-size: 16px;
	border: none;
}

.searchBar {
	display: flex;
	background-color: #f6ded0;
	width: 300px;
	margin: 20px auto;
	border-radius: 50px;
	padding: 3px;
}

.searchBar input {
	width: 300px;
    border-radius: 50px;
    font-size: 20px;
    background: none;
    border: none;
}

.cardContainer {
	display: flex;
	width: 80%;
    justify-content: space-evenly;
    margin: auto;
}